In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
sales_dataframe = pd.read_excel('Sales_v1.xlsx')
sales_dataframe

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Germany,Carretera,NaN,1513.0,3,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014
1,Government,Germany,Paseo,NaN,1006.0,10,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014
2,Government,Canada,Paseo,NaN,1725.0,10,350,603750.0,0.00,603750.00,448500.0,155250.00,2013-11-01,11,November,2013
3,Government,Germany,Paseo,NaN,1513.0,10,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014
4,Government,Germany,Velo,NaN,1006.0,120,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Midmarket,Canada,Paseo,High,1614.0,10,15,24210.0,3631.50,20578.50,16140.0,4438.50,2014-04-01,4,April,2014
696,Midmarket,Canada,Paseo,High,2559.0,10,15,38385.0,5757.75,32627.25,25590.0,7037.25,2014-08-01,8,August,2014
697,Enterprise,Germany,Paseo,High,1085.0,10,125,135625.0,20343.75,115281.25,130200.0,-14918.75,2014-10-01,10,October,2014
698,Midmarket,Germany,Paseo,High,1175.0,10,15,17625.0,2643.75,14981.25,11750.0,3231.25,2014-10-01,10,October,2014
699,Channel Partners,USA,Paseo,High,914.0,10,12,10968.0,1645.20,9322.80,2742.0,6580.80,2014-12-01,12,December,2014

In [22]:
sales_dataframe['YearMonth'] = sales_dataframe['Year'].astype(str) + ' ' + sales_dataframe['Month Name'].astype(str)
sales_dataframe

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,YearMonth
0,Government,Germany,Carretera,NaN,1513.0,3,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014,2014 December
1,Government,Germany,Paseo,NaN,1006.0,10,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014,2014 June
2,Government,Canada,Paseo,NaN,1725.0,10,350,603750.0,0.00,603750.00,448500.0,155250.00,2013-11-01,11,November,2013,2013 November
3,Government,Germany,Paseo,NaN,1513.0,10,350,529550.0,0.00,529550.00,393380.0,136170.00,2014-12-01,12,December,2014,2014 December
4,Government,Germany,Velo,NaN,1006.0,120,350,352100.0,0.00,352100.00,261560.0,90540.00,2014-06-01,6,June,2014,2014 June
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Midmarket,Canada,Paseo,High,1614.0,10,15,24210.0,3631.50,20578.50,16140.0,4438.50,2014-04-01,4,April,2014,2014 April
696,Midmarket,Canada,Paseo,High,2559.0,10,15,38385.0,5757.75,32627.25,25590.0,7037.25,2014-08-01,8,August,2014,2014 August
697,Enterprise,Germany,Paseo,High,1085.0,10,125,135625.0,20343.75,115281.25,130200.0,-14918.75,2014-10-01,10,October,2014,2014 October
698,Midmarket,Germany,Paseo,High,1175.0,10,15,17625.0,2643.75,14981.25,11750.0,3231.25,2014-10-01,10,October,2014,2014 October
699,Channel Partners,USA,Paseo,High,914.0,10,12,10968.0,1645.20,9322.80,2742.0,6580.80,2014-12-01,12,December,2014,2014 December